.main-content {
    width: 100%;
    height: 100%;
}


/* ============================================================================HEADER */



.image {
    width: 50px;
    height: 50px;
    max-width: 100%;
    border-radius: 50px;
    overflow: hidden;
    background-color: red;
    margin-left: 10px;
    margin-right: 10px;

}

img {
    height: auto;
    max-width: 100%;

}

/* ============================================================================MAIN-CONTENT-AREA */
.main-content-area {
    background-color: rgb(241, 240, 240);
    flex-grow: 1;
    overflow: auto;

}






.overflow-hidden {
    overflow: hidden;
}

/* ================================================================================ */
ul {
    justify-content: space-between;
    flex-wrap: wrap;

    li {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px;


        .card {
            height: auto;
            width: 250px;
            background-color: white;
            border-radius: 10px;
            padding-bottom: 10px;
            justify-content: space-between;

            &-header-image {
                width: 300px;
                height: 120px;
                max-width: 100%;
                max-height: 100%;
                border-radius: 10px;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0;
                overflow: hidden;
                background-color: red;
                flex-wrap: wrap;

            }

            &-body {
                border-bottom: 2px solid grey;
                padding: 10px;


                h2 {
                    margin-top: 10px;

                }

                p {
                    color: grey;
                    margin-top: 10px;
                }

            }

            .card-multi-profile {
                padding: 10px;

                .image1 {
                    width: 50px;
                    height: 50px;
                    max-width: 100%;
                    border-radius: 30px;
                    overflow: hidden;
                    background-color: red;
                    margin: 0 10px;

                    img {
                        height: auto;
                        max-width: 100%;
                    }

                    .image1+.image1 {
                        margin-left: -5px;
                    }


                }


            }

        }
    }

    .card-list2 {
        margin-top: 15px;
        margin-bottom: 40px;

        .card-body-line {
            margin: 10px 20px;
            padding-bottom: 10px;
            border-bottom: 2px solid lightgray;

        }





    }
}


li {
    list-style: none;
}

h3 {
    padding-top: 20px;
}

// .progress-wrapper {
//     display: inline-block;
//     height: 5px;
//     /* width: 100%; */
//     background-color: #ebebeb;
//   }

//   .progress-wrapper .progress-bar {
//     position: absolute;
//     height: 100%;
//     /* width: 76%; */
//     color: #5f91f0;
//   }

//   .progress-value {
//     color: #8c8c8c;
//     font-size: 18px;
//   }