
        <ul class="d-flex justify-content-around my-5">
            <li>
                <div class="card">
                    <div class="card-body">
                        <a routerLink="fromevent">FromEvent</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="card">
                    <div class="card-body">
                        <a routerLink="interval">Interval</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="card">
                    <div class="card-body">
                        <a routerLink="of-from">Of-From</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="card">
                    <div class="card-body">
                        <a routerLink="fromevent">FromEvent</a>
                    </div>
                </div>
            </li>
        </ul>
 
