
.bg {
    background-image: url('../../../../assets/images/compute-ea4c57a4.png');
    height: 840px;
    position: relative;
    background-position: center;
    background-size: cover;
}

.container {
    // width: 700px;
    // position: absolute;
     padding: 20px;
    //margin-left: 35%;
    // margin-top: 100px;
    background: transparent;
     background-color: rgba(255, 255, 255, .2);
    // border-radius: 5px;
}