<!-- 
<div>
    <img src="../../../../assets/images/photo.jpg" alt="" class="w-100">
</div> -->
<div class="bg">
    <div class="container ">
        <h2 class="fs-1  text-white text-center p-4"><b>Welcome To Rhythm</b></h2>
        <span class="text-center text-white fs-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis, quo
            provident id doloremque ratione iste voluptatum deserunt excepturi odit minus, officia reiciendis odio
            eveniet neque, libero distinctio ipsum ea cumque!</span>
        <div class="text-center">
            <button type="button" class="btn btn-info" routerLink="/login">Login</button>
        </div>
    </div>
</div>