

<!-- <div class="d-flex  justify-content-around my-5">
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <a href="#" routerLink="behaviour">Behaviour</a>
    
    </div>
  </div>

 <div class="card" style="width: 18rem;">
    <div class="card-body">
      <a href="#" routerLink="replay">Replay</a>
    
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <a href="#" routerLink="aysnc">Aysnc</a>
    
    </div>
  </div>
</div> -->
<router-outlet></router-outlet>