<div class="container my-5">
    <h2 style="text-align: center;">Page- Aysnc & Await </h2>
    <div class="row">
        <div class="col-md-4">
            <b>Ex-01:With Promise</b>
            <hr>
            <button type="button" class="btn btn-info" onclick="data()">Buy Laptop</button>
            <hr>
            <i id="data-id1">Data</i>
        </div>
    
   
        <div class="col-md-4">
            <b>Ex-02:With Aysnc & Await</b>
            <hr>
            <button type="button" class="btn btn-info">Buy Laptop</button>
            <hr>
            <i id="result2">Data</i>
        </div>
    
    
        <div class="col-md-4">
            <b>Ex-03:Fetch Api</b>
            <hr>
            <button type="button" class="btn btn-info">Buy Laptop</button>
            <hr>
            <i id="result3">Data</i>
        </div>
    </div>
</div>