<p>details works!</p>

<section class="h-100 w-100 p-4 overflow-auto">

    <div class=" row container  justify-content-center  mx-0">
        <div class=" col-sm-12  col-md-5 col-lg-5 ">
            <!-- <figure class=" overflow-hidden main-image rounded">
                <img src="../../../assets/image/studio-details.png">
            </figure> -->
            <!-- <div class="row gx-1">
                <figure class="image-wrapper rounded col-4">
                    <img src="../../../assets/image/studio-detail image-5.png">
                </figure>
                <figure class="image-wrapper rounded col-4">
                    <img src="../../../assets/image/studio-detail image-5.png">
                </figure>
                <figure class="image-wrapper rounded col-4">
                    <img src="../../../assets/image/studio-detail image-5.png">
                </figure>
                <figure class="image-wrapper rounded col-4">
                    <img src="../../../assets/image/studio-detail image-5.png">
                </figure>
                <figure class="image-wrapper rounded col-4">
                    <img src="../../../assets/image/studio-detail image-5.png">
                </figure>
            </div> -->
        </div>


        <div class="col-sm-12 col-md-7 col-lg-7">
            <span class="fw-bold fs-3 me-2 mb-4">CREATIVE SPACE</span><span class="role-name fs-3">STUDIO</span>
            <div class="mb-4 description-text ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit porro
                deserunt asperiores esse architecto ratione nam sint dicta. Iure, nobis officiis qui necessitatibus
                voluptate distinctio.
            </div>

            <div class="row ms-1 g-0">
                <div class="  col-12  col-lg-6 mb-4 pe-2">
                    <div class="d-flex border rounded w-100 me-2 p-2 ">
                        <div class=" fs-3 me-3"><span class="bi bi-calendar2-week"></span></div>
                        <div class="">
                            <div class="heading-text">OPEN FROM</div>
                            <div class="detail-text">Monday - Saturday</div>
                        </div>
                    </div>
                </div>
                <div class=" col-12  col-lg-6 mb-4  ">
                    <div class="d-flex border rounded w-100 p-2 g-0">
                        <div class="fs-3 me-3"><span class="bi bi-clock"></span></div>
                        <div class="">
                            <div class="heading-text">TIMING</div>
                            <div class="detail-text">10am - 6pm</div>
                        </div>
                    </div>
                </div>
                <div class="d-flex   col-12  mb-4 border rounded p-2">
                    <div class="fs-3 me-3"><span class="bi bi-geo-alt"></span></div>
                    <div class="">
                        <div class="heading-text">ADDRESS</div>
                        <div class="detail-text">2972 Westheimer Rd, Santa Ana, Illinois 85486 Bangaluru , Karnataka
                        </div>
                    </div>
                </div>
                <div class="d-flex   col-12  mb-4 border rounded p-2">
                    <div class="fs-3 me-3"><span class="bi bi-currency-rupee"></span></div>
                    <div>
                        <div class="mb-2 heading-text">PRICES</div>
                        <div class=" ">
                            <span class="me-4 detail-text">Jam: <span class="text-primary text-bg-color p-2">3000
                                    Rs/Day</span> </span>
                            <span class="me-4 detail-text">Record: <span class=" text-primary text-bg-color  p-2">4000
                                    Rs/Day
                                </span></span>
                            <span class="detail-text">Mix & Master: <span class="  text-primary text-bg-color  p-2">5000
                                    Rs/Day</span></span>
                        </div>
                    </div>
                </div>
                <div class="d-flex col-12  mb-4 border rounded p-2">
                    <div class="fs-3 me-3"><span class="bi bi-wrench-adjustable"></span></div>
                    <div>
                        <div class="mb-2 heading-text">HARDWARE & EQUIPMENTS</div>
                        <div class="">
                            <span class=" p-1 equipment ">MicroPhones</span>
                            <span class="m-2 p-1 equipment ">1000 Watt AKG 214 Condenser Mic</span>
                            <span class="m-2 p-1 equipment ">Ride-Amp</span>
                            <span class="m-2 p-1 equipment ">MCA-Sp1-Condenser-Mic</span>
                            <span class="m-2 p-1 equipment ">Amps</span>
                            <span class="m-2 p-1 equipment ">2-CrashBlackstar-Guiter</span>
                        </div>
                    </div>

                </div>
                <div class="d-flex justify-content-end p-0">
                    <button class=" btn  btn-lg btn-color border-0 ">Book Now</button>
                </div>
            </div>

        </div>
    </div>
</section>