<nav class="navbar navbar-expand-lg bg-body-tertiary bg-black w-100 ">
    <h2 class="moviebox fw-bold me-5 ">moviebox</h2>
    <div class="d-flex justify-content-between align-items-center mb-0 w-100">
        <div class="header-left">
            <ul class="d-flex justify-content-between align-items-center mb-0 fs-5">
                <li>Overview</li>
                <li routerLink="/movie">Movies</li>
                <li>Reporting</li>
                <li>Users</li>
            </ul>
        </div>
        <div class="header-right mx-5">
            <img src="assets/images/setting.png" alt="images" class="me-3">
            <img src="assets/images/bell.png" alt="images" class="me-3">
        </div>
    </div>