<p>of-from works!</p>
<div class="container">
    <!-- OF -->
    <div class="col-md-4 mx-5">
        <Strong>Ex-01:(OF)</Strong>
        <hr>
        <div class="row">
            <h6 class="bg-light border rounded p-3"> 'Anup','Shekar','Sharma'</h6>
            <ul id="Video-ID">
            </ul>
        </div>
    </div>

    <!-- FROM -->
    <div class="row">
        <div class="col-md-4">
            <strong>Ex-02:(FROM)</strong>
            <hr>
            <h4> <b>Array</b></h4>
            <div class="card">
                <div class="card-body">
                    <h5><strong> Data:</strong>of[('From1','From2','From3')]</h5>
                </div>
            </div>
            <ul id="Video-ID2">
            </ul>
        </div>


        <!-- Promise -->

        <div class="col-md-4">
            <strong>Ex-02:(FROM)</strong>
            <hr>
            <h4><b>Promise</b></h4>
            <div class="card">
                <div class="card-body">
                    <h5><strong>Data:</strong>Promise to observable</h5>
                </div>
            </div>
            <ul id="Video-ID3">
            </ul>
        </div>


        <!-- String -->
        <div class="col-md-4">
            <strong>Ex-02:(FROM)</strong>
            <hr>
            <h4><b>String</b></h4>
            <div class="card">
                <div class="card-body">
                    <h5><strong>Data:</strong> String to Observable</h5>
                </div>
            </div>
            <ul id="Video-ID4">

            </ul>
        </div>
    </div>
</div>