input {
    position: relative;
}


.search-icon {
    position: absolute;
    cursor: pointer;
}

.microphone-icon {
    position: absolute;
    cursor: pointer;
}

.dropdown-toggle::after {
    display: none;
}

.cursor-pointer {
    cursor: pointer;
}

a {
    color: black;

    &.active {
        color: blue;
    }

    &:hover {
        color: red;
    }
}

.main {
    display: flex;
    height: 100%;
}

.aside {
    height: 100%;
    background-color: aquamarine;
}

// .icon-button {
//     position: relative;
//     // border: none;
//     outline: none;
//     border-radius: 50%;
//     width: 50px;
//     height: 50px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// .icon-badge {
//     position: absolute;
//     top: 25px;
//     right: 28px;
//     width: 10px;
//     height: 10px;
//     background-color: red;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     border-radius: 50%;
// }