.container{
    background-color: rgb(224, 232, 235);
}
table{
    padding: 20px 0;
    margin-top: 50px;
    text-align: center;
    height:400px;
}
td,th{
    border: 2px solid skyblue;
}
input{
    all: unset;
    
}