<div class="container mt-5 w-50">
    <h1 class="text-center fs-2">Register Your Acount</h1>
    <form class="mt-4">
        <!-- 1st ROW -->
        <div class="row mb-3">
            <div class="col-sm-6">
                <label>First Name</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-sm-6">
                <label>Last Name</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <!-- 2ND ROW -->
        <div class="row mb-3">
            <div class="col-sm-6">
                <label>Email Address</label>
                <input type="email" class="form-control">
            </div>
            <div class="col-sm-6">
                <label>Password</label>
                <input type="password" class="form-control">
            </div>
        </div>
        <!-- 3RD ROW -->
        <div class="row mb-3">
            <div class="col-sm-6">
                <label>Phone Number</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="">Select State</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Select State</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label for="">Select City</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Select City</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                </div>
            </div>

        </div>
        <!-- 4th ROW -->
        <div class="row mb-3">
            <div class="col-sm-6">
                <div class="d-flex justify-content-between">
                <label for="">Select User Type</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </div>
        </div>
            <div class="col-sm-6">
                <input type="file" class="form-control">
            </div>

        </div>
<!-- 5th ROW -->
<div class="row mt-5">
    <div class="col-sm-12 text-center">
        <div class="mb-3">
            <input type="checkbox" class="form-check-input me-1" id="exampleCheck1">
            <label >Agree  Terms & Conditions</label>
          </div>
          <div class="mb-3">
            <button type="button" class="btn btn-primary">Submit</button>
          </div>
          <div class="mb-3">
            <span>Already a member?</span><a routerLink="">Click here</a>
          </div>
    </div>
</div>

    </form>
</div>