main {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: lightgray;


    .search {
        display: flex;
        justify-content: end;
        margin: 20px;
    }


    .btn {
        background-color: green;
        color: white;
        font-size: 25px;
        border: none;
        padding: 5px;
        border-radius: 2px;
    }

    .btn:hover {
        background-color: white;
        color: green;
    }


    .row {
        flex-wrap: wrap;
        display: flex;
    }
    
    .card-wrapper {
        width: 15%;
        margin: 10px;
        
    }

    .card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: pink;
        padding: 15px;
        border-radius: 3px;

    }

    .card:hover {
        background-color: aquamarine;
        transition: 2s;
        transform: scale(1.2);
    }

    .content {
        font-size: 20px;
    }

    .icon-wrapper {
        padding-right: 20px;
    }

    .recent {
        padding: 10px;
    }

    .table-format {
        width: 100%;


        #mytable {
            border-collapse: collapse;
            width: 100%;
            background-color: white;
            margin-top: 30px;
            text-align: left;
            padding: 0 10px;

        }


        #mytable th,
        td {
            border-bottom: 1px solid grey;
            padding: 10px;
        }

        th {
            color: rgb(167, 166, 166);
            font-size: 20px;
        }

        .badge {
            border-radius: 20px;
            padding: 5px;
        }

        .badge-discarded {
            color: #df9090;
            background-color: #ffeeed;
        }

        .badge-want {
            color: #64b975;
            background-color: #f1fef4;
        }

        .badge-waiting {
            color: #ea9946;
            background-color: #fff7e4;
        }
    }

}