<!-- <main class=" main d-flex h-100 w-100"> -->
    <!--Start Aside-->
    <!-- <aside class="d-flex h-100 flex-column border border-primary">
        <app-sidebar></app-sidebar>
    </aside> -->
    <!--End Aside-->
    <!--Start section-->
    <!-- <section class="border border-primary d-flex flex-column flex-grow-1 h-100"> -->
        <!--Start header-->
        <!-- <header class="border border-success d-flex align-items-center justify-content-between w-100">
            <app-header class="w-100"></app-header>
        </header> -->
        <!--End header-->
        <!--Start main-->
        <!-- <main class="flex-grow-1 d-flex border h-100">
            <router-outlet></router-outlet> -->
            <!-- <app-card></app-card> -->
        <!-- </main> -->
        <!--Start footer-->
        <!-- <div class="border border-success">
             <app-footer></app-footer> -->
        <!-- </div> -->
        <!--End footer-->
        <!--End main-->
    <!-- </section> -->
    <!--End section-->
<!-- </main> -->

<app-header>  </app-header>
<router-outlet></router-outlet>