// .header{
//     height: 60px;
// }
// .search-icon{
// padding: 9px;

// }
// .microphone-icon{
//     right: 0;
//     padding-right: 20px;
//     padding-top: 8px;
// }

// ul {
//     margin-top: 8px;
//     border: 2px solid black;
//     padding: 0px;
//     border-radius: 5px;
//     li {
//         list-style-type: none;
//         background-color: white;
//         padding: 8px;
//         border-bottom: 1px solid grey;
//         color: red;
//     }
// }


.header {
    height: 60px;
    width: 100%;
}

li {
    list-style-type: none;
}