<!-- <div class="container-fluid w-100 bg-info shadow-sm">
    <div class="header d-flex justify-content-between align-items-center p-2 mb-0">

        <div class="header-left fs-4"><span class="text-danger">1</span> <a routerLink="rhythm">Rhythm</a></div>

        <div class="header-center position-relative ">
            <span class="search-icon fa-solid fa-magnifying-glass position-absolute "></span>
            <span class="microphone-icon fa-solid fa-microphone position-absolute"></span>
            <input class="form-control me-2 rounded-pill px-4 py-1" type="search" placeholder="Search">
        </div>

        <div class="header-right fs-4 align-items-center d-none d-sm-block col-none">
            <span class="fa-solid fa-file-waveform me-3"></span>
            <span class="fa-sharp fa-solid fa-clipboard me-3"></span>
            <i class="fa-solid fa-user me-3" (click)="opendropdown=!opendropdown" cdkOverlayOrigin
                #trigger="cdkOverlayOrigin"></i>
        </div>
    </div>
</div>





<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="opendropdown">
    <ul>
        <li>Manage Profile</li>
        <li>Manage Studio Profile</li>
        <li>Logout</li>
    </ul>
</ng-template> -->


<div class="header d-flex justify-content-between align-items-center shadow-sm">
    <div class="header-left">Header-Left</div>
    <div class="header-center">
        <ul class="d-flex">
            <li class="">Home</li>
            <li>Studios</li>
            <li>Artists</li>
            <li>Booking History</li>
        </ul>
    </div>
    <div class="header-left">Header-Right</div>